#container-all {
    width: 50%;


}

header {
    background-image: url(../img/pattern.png);
    background-size:35%;
    background-color: #4ea0ff;
    height: 50px;
    width: 100%;
    position: relative;
}

#alternative-text {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 10px;
}

#newspaper-name {
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    line-height: 60px;
    margin-left: 5px;
    
}

.header-section p {
    font-size: 10px;

}

.header-section a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 230px ;
}

.blocquote {
    font-size: 10px;
    line-height: 0px;
    font-weight: 600;
    margin-left: 0px;
    margin-top: 0px;
}

.article-container {
    font-size: 10px;
    width: 100%;
}

ul li {
    margin-left: -30px;
}

#underlined-text {
    background-color: yellow;
}

.row {
    font-size: 12px;
    line-height: 40px;

}
#first {
    width: 100%;
    background-color: #20a9e5;
    color: white;
   line-height: 15px;
    

}

.second,.four {
    background-color:#a0e1e7 ;

}

.column {
    margin-left: 130px;
 
  }

.left {
    margin-left: 5px;
}


.tips-section {
    font-size: 10px;

}

.image-footer {
    position: relative;
}

.image-footer img{
   width: 150px;
   height: 100px;

}

.image-footer span {
    color: white;
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 12px;
}